---
import "../styles/global.css";
import Navbar from "@components/Navbar.svelte";
import PostHog from "@components/posthog.astro";
import { ClientRouter } from "astro:transitions";

type Mode = "normal" | "restricted";

export interface Props {
    title?: string;
    mode?: Mode;
    description?: string;
}

const auth = Astro.locals.auth;
let session = Astro.locals.session;
let user = Astro.locals.user;

const { title = "Astro", mode = "normal", description = "" } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
        <meta name="description" content={description} />

        <ClientRouter />
        <PostHog />

        <script is:inline>
            if (window.matchMedia("(prefers-color-scheme: light)").matches) {
                document.documentElement.classList.remove("dark");
            } else {
                document.documentElement.classList.add("dark");
            }
        </script>
    </head>

    <body
        class="dark bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-white min-h-screen"
    >
        <Navbar
            session={session}
            auth={auth}
            user={user}
            mode={mode}
            client:load
        />
        <slot />
    </body><style>
        html,
        body {
            margin: 0;
            width: 100%;
            height: 100%;
        }
    </style>

    <style is:global>
        /* Register your custom font family and tell the browser where to find it. */
        /*@font-face {
            font-family: "Moniker";
            src: url("/fonts/MonikerRegular.woff") format("woff");
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }*/

        /* used by pagefind */
        .dark {
            --pagefind-ui-primary: #eeeeee;
            --pagefind-ui-text: #eeeeee;
            --pagefind-ui-background: #152028;
            --pagefind-ui-border: #152028;
            --pagefind-ui-tag: #152028;
        }
    </style>
</html>
