---
import "../styles/global.css";
import Navbar from "@components/Navbar.svelte";
import PostHog from "@components/posthog.astro";
import { ClientRouter } from "astro:transitions";

type Mode = "normal" | "restricted";

export interface Props {
    title?: string;
    mode?: Mode;
    description?: string;
}

const auth = Astro.locals.auth;
let session = Astro.locals.session;
let user = Astro.locals.user;

const { title = "Astro", mode = "normal", description = "" } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
        <meta name="description" content={description} />

        <ClientRouter />
        <PostHog />

        <script is:inline>
            if (window.matchMedia("(prefers-color-scheme: light)").matches) {
                document.documentElement.classList.remove("dark");
            } else {
                document.documentElement.classList.add("dark");
            }
        </script>
    </head>

    <body
        class="min-h-screen bg-gray-100 text-gray-900 dark:bg-[#0f172a] dark:text-[#d6d6d1]"
    >
        <Navbar
            session={session}
            auth={auth}
            user={user}
            mode={mode}
            client:load
        />
        <slot />
    </body><style>
        html,
        body {
            margin: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</html>
